# Nix build artifacts
result
result-*

# Secrets (encrypted files are OK, but not unencrypted)
secrets/*.yaml
!secrets/*.yaml.example

# Editor
.direnv/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# direnv
!.envrc
.possible-new-config