# Nix build artifacts
result
result-*

# Secrets (encrypted files are OK, but not unencrypted)
!secrets/*.yaml
!secrets/*.yaml.example
!secrets/*.yml
!secrets/*.yml.example

# Editor
.direnv/
.envrc

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.claude
**/*.tmp.yaml
**/*.tmp.yml
**/*.tmp.ini
**/*.tmp.json